@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background-color-primary: #f4f5fb;
  --color-primary: #f05a2f;
  background-color: var(--background-color-primary);
}

html,
body,
* {
  font-family: 'Inter', sans-serif;
  margin: 0
}